Package: com.eevee.spotify
Name: EeveeSpotify
Version: 6.7.1
Architecture: iphoneos-arm
Description: A tweak to get Spotify Premium for free, just like Spotilife
Maintainer: jaydenjcpy - W$D$B
Author: Eevee
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0)
